.about-section {
  padding-top: 90px;
  display: flex;
  .left {
    width: 50%;
    padding: 0 15px;

    .text-container {
      padding-left: 100px;

      h2 {
        padding-bottom: 50px;
        font-size: 40px;
        color: rgb(31, 31, 31);
        font-weight: bold;
      }

      p {
        font-size: 16px;
        color: rgb(31, 31, 31);
      }
    }
  }

  .right {
    padding: 0 15px;
    width: 50%;
    .img-right {
      height: 540px;
      width: 540px;
      background: url("../../assets/img/Ranim.jpg") center/cover;
    }
  }
}
