.footer-section {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: $olivenoir-color;
  //   background: url("../../assets/img/footer-bg.png") center/cover;

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

    .contact {
      width: 50%;
      margin: 0 auto;
      display: flex;

      .phone-section {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
          height: 44px;
          width: 44px;
          color: $jouvance-color;
        }

        p {
          color: $jouvance-color;
        }

        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: 100%;
          width: 3px;
          height: 100%;
          background-color: $jouvance-color;
        }
      }

      .mail-section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
          height: 44px;
          width: 44px;
          color: $jouvance-color;
        }

        // .mail-icon {
        //   height: 31px;
        //   width: 45px;
        //   background: url(../../assets/img/mail-icon.png) center/cover no-repeat;
        // }

        a {
          color: $jouvance-color;

          &:hover {
            color: $argile-color;
          }
        }
      }
    }

    .social-media {
      padding-top: 40px;

      ul {
        display: flex;
        justify-content: center;
        li {
          width: 32px;
          margin: 10px;
          a {
            svg {
              transition: 0.1s ease;
              height: 100%;
              width: 100%;
              color: $jouvance-color;

              &:hover {
                color: $argile-color;
              }
            }
          }
        }
      }
    }
  }
}
