.header_section {
  height: 100vh;
  width: 100%;
  // background: url(../../assets/img/banner-bg.png) center;
  background-color: $olivenoir-color;

  .banner-section {
    padding-top: 20vh;
    text-align: center;

    h1 {
      padding-bottom: 12px;
      font-size: 80px;
      text-transform: uppercase;
      font-weight: bold;
      color: $jouvance-color;
    }

    h2 {
      padding-top: 4px;
      font-size: 24px;
      font-weight: bold;
      color: $jouvance-color;
    }

    a {
      display: inline-block;
      li {
        width: 200px;
        font-size: 16px;
        color: $olivenoir-color;
        background-color: $jouvance-color;
        text-align: center;
        font-weight: 400;
        margin-top: 50px;
        padding: 10px 0px;
        border-radius: 30px;
      }
      :hover {
        color: $jouvance-color;
        background-color: $argile-color !important;
      }
    }
  }
}
