.navigation {
  padding: 10px 15px 0px;
  background-color: $olivenoir-color;

  ul {
    display: flex;
    justify-content: center;
    align-content: center;

    a {
      padding: 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: $jouvance-color;

      li {
        padding: 10px 20px;
        border-radius: 10px;
      }

      :hover {
        background-color: $charbon-color;
        // color: $olivenoir-color;
      }
    }
  }
}
