.video-section {
  padding-top: 90px;

  .video-container {
    width: 100%;
    height: 100vh;
    cursor: pointer;

    .react-player {
      width: 100% !important;
      height: 100% !important;

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .text-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
