$charbon-color: #5b5e4f;
$olivenoir-color: #38402a;
$jouvance-color: #e3e0d5;
$argile-color: #97895a;

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  transition: 0.5s ease;
}

body {
  background-color: $jouvance-color;
  color: $olivenoir-color;
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
}

p {
  font-weight: 300;
  line-height: 24px;
}
